body{
	background-color: rgba(113, 161, 96, 0.815);
	text-align: center;

	overflow-x: hidden;
}
h1{
	color: rgb(243, 232, 232);	

	font-size: 68px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h2{
	color: rgb(243, 232, 232);	

	font-size: 60px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
ul{
	list-style-type: none;
	margin-left: 1.5%;
	padding: 0;
	overflow:hidden;
}
li{
	float: left;
}
li a{
	display: block;
	text-decoration: none;
	font-weight: bold;
	color: black;
	padding: 24px;
	background-color: rgb(245, 174, 42);
	font-size: 24px;
}
li hr{
	background-color: rgb(224, 83, 29);
	border-color: rgb(224, 83, 29);
	border-bottom: rgb(224, 83, 29);
	border-top: rgb(224, 83, 29);
	border-left: rgb(224, 83, 29);
	border-right: rgb(224, 83, 29);
}
p1{
	display: block;
	color: black;	
	
	font-size: 32px;
	font-weight: bold;
}
p2{
	display: block;
	color: black;	
	
	font-size: 28px;
	font-weight: bold;
}

.mylinkscontainer a {
	
	color: red;
	font-weight: bold;
	display: inline-block;
	font-size: 24px;
	width: 48%;
}

.selfImages p2{
	width: 31%;
	margin-right: .5%;
	margin-left: .5%;
	display: inline-block;

}

.aboutsite h1{
	color: rgp(243, 232, 232);
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 48px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	text-align: center;
}

.aboutsite p1{
	margin-left: 10%;
	margin-right: 10%;
	
	font-size: 24px;
	color: black;
}
.siteGitHub a{
	display: block;
	font-weight: bold;
	
	font-size: 24px;
	color: rgb(165, 16, 46);

}

