body{
	background-color: rgba(113, 161, 96, 0.815);
}
h1{
	color: rgb(243, 232, 232);	
	text-align: center;
	font-size: 72px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

#Solitaire{
	text-align: center;
	font-size: 22px;
	font-weight: bold;

}
#submit {
	font-size: 22px;
	font-weight: bold;
}
#submitbutton{
	font-size: 22px;
	font-weight: bold;
}
#options{
	margin-left: 5%;
	font-size: 20px;
}